de.nrw.verbraucherschutz.idv.daten/src/de/nrw/verbraucherschutz/idv/daten/main/de.nrw.verbraucherschutz.idv.daten.2016.2.20160822.warenrueckverfolgung.transport.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wrv="http://verbraucherschutz.nrw.de/idv/daten/2016.2/warenrueckverfolgung/transport"
	name="de.nrw.verbraucherschutz.idv.dienste.2016.2.20160818.warenrueckverfolgung.transport"
	targetNamespace="http://verbraucherschutz.nrw.de/idv/daten/2016.2/warenrueckverfolgung/transport">

	<wsdl:types>
		<xsd:schema>
			<xsd:import
				namespace="http://verbraucherschutz.nrw.de/idv/daten/2016.2/warenrueckverfolgung/transport"
				schemaLocation="de.nrw.verbraucherschutz.idv.daten.2016.2.20160822.warenrueckverfolgung.transport.schema.xsd">
			</xsd:import>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="KontrollpunktmeldungBereitstellenRequest">
		<wsdl:part element="wrv:kontrollpunktmeldung" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="AnalyseErgebnisBereitstellenRequest">
		<wsdl:part element="wrv:analyseergebnis" name="parameters"/>
	</wsdl:message>
	
	<wsdl:message name="CommHeader">
		<wsdl:part element="wrv:CommHeader" name="header"/>
	</wsdl:message>

	<wsdl:portType name="wrvMeldungType">
		<wsdl:operation name="KontrollpunktmeldungBereitstellen">
			<wsdl:input message="KontrollpunktmeldungBereitstellenRequest"/>
		</wsdl:operation>
		<wsdl:operation name="AnalyseErgebnisBereitstellen">
			<wsdl:input message="AnfrageKontrollpunktanalyseRequest"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>

